body {
  background-color: cornflowerblue;
}

.header {
  background-color: rgb(245, 53, 92);
  border-radius: 1em;
  text-align: center;
}

.card-contents {
  width: 25em;
  height: 30em;
  text-align: center;
  border-radius: 1em;
  margin-left: 23em;

}