body {
  background-color: cornflowerblue;
}

.header {
  background-color: rgb(245, 53, 92);
  border-radius: 1em;
  text-align: center;
  font-family: 'Supermercado One', cursive;
  font-size: 82px;
  border-style: solid;
  box-shadow: 10px 10px 10px darkblue;
}

.card-contents {
  width: 30em;
  height: 25em;
  text-align: center;
  border-radius: 1em;
  margin-left: 15em;
  margin-top: 3em;
  font-family: 'Supermercado One', cursive;
  font-size: larger;
  background-color: rgb(172, 255, 89);
  box-shadow: 10px 10px 10px darkblue;
  
}

.button-styling {
  margin-top: 1em;
  background-color: rgb(255, 238, 0);
}

.dollarDiv {
  margin-top: 1em;
}

.currencyDiv {
  margin-top: 1em;
}

.exchangeResults {
  margin-top: 1em;
}

.showErrors {
  margin-top: 1em;
}